---
import '../styles/global.css'
import '../styles/404.css'

const url = new URL(Astro.url.pathname, Astro.site)
url.pathname = url.pathname.replace(/\/$/, '') // Strip slash from the end of the path
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap' rel='stylesheet' />

	<title>Not Found | Putting the "You" in CPU</title>
	
	<meta http-equiv='Status' content='404 Not Found' />
	<meta name='robots' content='noindex' />
	
	<meta name='theme-color' content='#845ef7' />
	<link rel='icon' href='/favicon-on-dark.png' media='(prefers-color-scheme: dark)' />
	<link rel='icon' href='/favicon-on-light.png' media='(prefers-color-scheme: light)' />
	
	<script defer data-domain='cpu.land' data-api='/stats/api/event' src='/stats/js/script.js' />
</head>
<body>
	
	<main>
		<p>$ curl {url.toString()}</p>
		<h1>Segmentation fault (core dumped)</h1>
		<br>
		<p>$ # Looks like you wound up accessing a memory region &mdash; errr, page &mdash; that doesn&lsquo;t exist.</p>
		<p>$ # Want to learn more about page faults? <a href='/'>Start from the beginning!</a></p>
	</main>
</body>
</html>
