---
export interface Props {
	onDark?: boolean
}

const { onDark } = Astro.props
---

<span class={`colored-title ${onDark ? 'on-dark' : ''}`}><span>Putting</span>{' '}<span>the</span>{' '}<span>&ldquo;You&rdquo;</span>{' '}<span>in</span>{' '}<span>CPU</span></span>