---
export interface Props {
	hideEditions?: boolean
}

const { hideEditions } = Astro.props
---

<footer class='scroll-padding'>
	<div class='content'>
		<p>[This Space Intentionally Left Blank]</p>
		<p>The bottom of every page is padded so readers can maintain a consistent eyeline.</p>
		<p>
			<a target='_blank' href='https://github.com/hackclub/putting-the-you-in-cpu/tree/main/src/content/chapters'>
				Open source with ❤︎ on GitHub
			</a>
		</p>
		{hideEditions ? null : <>
			<hr />
			<p>
				Other editions:
				<a href='/editions/one-pager'>One-Pager</a> &middot;
				<a href='/editions/printable.pdf'>PDF</a><!--  &middot;
				<a href='/editions/book.epub'>EPUB</a> -->
			</p>
		</>}
	</div>
</footer>
