<div class='scroll-padding'>
	<div class='content'>
		<p>[This Space Intentionally Left Blank]</p>
		<p>The bottom of every page is padded so readers can maintain a consistent eyeline.</p>
		<p>
			<a target='_blank' href='https://github.com/hackclub/putting-the-you-in-cpu/tree/main/src/content/chapters'>
				Open source with ❤︎ on GitHub
			</a>
		</p>
	</div>
</div>
